<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soauth.server.dao.Admindao">




    <select id="adminSidebar" resultType="com.soauth.core.model.SidebarTree">
        SELECT client_id, client_secret, client_name, client_uri, scope, grant_types,redirect_uri,description,create_time, tokenEndpointmethod FROM client_details
    </select>
</mapper>