<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soauth.server.dao.ClientDetailsdao">


    <insert id="saveClientDetails"  parameterType="com.soauth.core.vo.oauth2.ClientDetails" >

INSERT INTO client_details(client_id, client_secret, client_name, client_uri,login_uri,
scope,redirect_uri,access_token_validity,refresh_token_validity
,description,create_time,tokenEndpointmethod)

VALUES( #{clientId},#{clientSecret}, #{clientName},#{clientUri},#{loginUri},
        #{scopeString}, #{redirectUri},#{accessTokenValidity},#{refreshTokenValidity}
       ,#{description}, <![CDATA[  SYSDATE ]]>, #{tokenEndpointmethod}
       )
    </insert>


    <resultMap id="clients_map" type="com.soauth.server.model.ClientInfoPage">
        <result property="clientId" column="client_id"></result>
        <result property="clientSecret" column="client_secret"></result>
        <result property="clientName" column="client_name"></result>
        <result property="redirectUri" column="redirect_uri"></result>
        <result property="clientUri" column="CLIENT_URI"></result>
    </resultMap>

    <select id="getAllClientDetails" parameterType="com.soauth.server.model.ClientInfoPage" resultMap="clients_map">
        SELECT  CLIENT_ID,CLIENT_SECRET,CLIENT_NAME,CLIENT_URI,GRANT_TYPES,REDIRECT_URI FROM client_details
    </select>

</mapper>