<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soauth.server.dao.Admindao">



    <!-- 渲染admin 左侧栏 -->
    <select id="adminSidebar" resultType="com.soauth.core.model.SidebarTree">
        select  Distinct Parent,ID,URL,URLTYPE, cssname,urlname
        from    permission p
        start with p.id in(
        select  p.ID
        from    user_roles ur
        left join U_USER  uu on uu.ID= ur.U_ID
        left join ROLES_PERMISSIONS up on up.RID=ur.R_ID
        left join PERMISSION p on p.ID=up.PID
        where ur.U_ID=#{id} and  p.urltype='html'
        ) connect by prior p.parent=p.id
        Order by Parent,ID
    </select>

</mapper>